<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authenticate</filter-name>
        <filter-class>com.filter.Authenticate</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authenticate</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBookCover</servlet-name>
        <servlet-class>com.controller.CheckBookCover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadBookController</servlet-name>
        <servlet-class>com.controller.UploadBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBookExist</servlet-name>
        <servlet-class>com.controller.CheckBookExist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewBookController</servlet-name>
        <servlet-class>com.controller.ReviewBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsBookController</servlet-name>
        <servlet-class>com.controller.DetailsBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateBookController</servlet-name>
        <servlet-class>com.controller.RateBookController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBookCover</servlet-name>
        <url-pattern>/CheckBookCover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadBookController</servlet-name>
        <url-pattern>/UploadBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBookExist</servlet-name>
        <url-pattern>/CheckBookExist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewBookController</servlet-name>
        <url-pattern>/ReviewBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsBookController</servlet-name>
        <url-pattern>/DetailsBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateBookController</servlet-name>
        <url-pattern>/RateBookController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
